* {
    font-family: 'Nunito', sans-serif;
}

.container {
    display: grid;
    gap: 5px;
    grid-template-rows: 
        [header-start] 6rem
        [content-start] 50rem
        [footer-start] 2rem
        [footer-end];
    grid-template-columns: 
        [sidebar-start] 10rem
        [content-start] 1fr
        [content-end];
}

.container > div {
    background: #EDDDD0;  }

.header {
    grid-row: header-start / content-start;
    grid-column: sidebar-start / content-end; 
}  


.footer {    
    grid-column: sidebar-start / content-end;  
}

.header {
    display: flex;    
    flex-direction: row;
}

.navhome,
.navabout,
.navcourses {
    padding: 2rem;
    font-size: 30px;
}

.sidebar {
    padding: 5px;
}

.content {
    padding: 5px;
}

.footer {
    padding: 5px;
}

h1 {
    margin: 5px
}

img {
    height: 400px;
    margin: 5px;
}

.description {
    margin: 5px;
    max-width: 300px;

}